{% extends "base.html.twig" %}


{% block body %}

<h2>Page d'une commande </h2>
<p>{{ command.clientFullname }}</p>
<p>{{ command.state }}</p>

{% for pay in payed %}
    <p>{{pay.type}}</p>
    <p>{{pay.amount}}</p>
{% endfor %}

{% endblock %}