{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}

<div>
    <h1>Company</h1>
    <p>{{company.name}}</p>
    <p>{{company.address}}</p>
    <p>{{company.logoPath}}</p>
</div>
{% endblock %}
